footer {
	width: 100%;
	padding: .5rem 0;
	background-color: $blue;
	color: $lightest;
	a, a:visited {
		color: $lightest;
		border-bottom: 1px solid $lighter;
		&:hover, &:focus {
			color: $light;
			border-bottom-color: $light;
		}
	}
	ol {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	li {
		margin: 0 0 .5rem 0;
	}
}
#lang-switch-footer {
	ol {
		display: flex;
		flex-direction: row;
		padding: 0;
		margin-left: -.25rem;
		margin-right: -.25rem;
	}
	li {
		margin: 0 .25rem;
	}
}