*[readonly], *[disabled] {
	background-color: $light !important;
}
.card {
	@include card;
}
#creator {
	margin: 2rem auto 0 auto;
	.half-max-width {
		width: 100%;
	}
	.card {
		margin: 0 auto 2rem auto;
		overflow: hidden;
	}
	form {
		padding: 0 0 2rem 0;
	}
	@include media-breakpoint-down(sm) {
	 max-width: 100%;
	}
}
section {
	margin: 0 auto 2rem auto;
}
label, legend {
	font-weight: bold;
}
fieldset .field-object {
	margin-bottom: 2rem;
	padding-bottom: 2rem;
	border-bottom: 1px solid $dark;
	legend {
		// margin-bottom: 2rem;
	}
}
label {
	width: 100%;
}
.form-control {
	color: $dark;
	border-color: $blue;
	background-color: $lightest;
	padding: .375rem;
	&:focus {
		color: $dark;
		border-width: 1px;
		outline: 0;
		box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
	}
}
input.form-control {
	// border-width: 0 0 1px 0;
}
.field-description {
	color: $dark;
	font-size: .75rem;
}
.field-array {
	legend {
		font-size: inherit;
	}
	.row {
		margin-left: 0;
		margin-right: 0;
	}
	fieldset .field-object {
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom: 0;
	}
}
.array-item-list.row {
	margin-left: 0;
	margin-right: 0;
}
.array-item {
	width: 100%;
	margin: 0 auto 2rem auto;
	@include card;
	overflow: hidden;
}
.has-error {
	input, select, textarea {
		background-color: rgba(red,.2) !important;
	}
}
.btn-group {
	display: block !important;
}
button.btn {
	height: 2.5rem;
	margin: 0 .5rem 0 0;
	padding: .5rem !important;
	position: relative;
	flex: inherit !important;
	@include card;
	&.btn-add, &.btn-danger {
		width: 2.5rem;
	}
	&::after {
		font-weight: normal;
	}
	&:last-of-type {
		margin: 0;
	}
	&:hover {
		background-color: $light;
		cursor: pointer;
	}
	&[disabled] {
		opacity: .5;
		&:hover {
			cursor: default;
		}
	}
}
i.glyphicon {
	display: none;
}
.btn-add::after {
	content: '+';
}
.array-item-move-up::after {
	content: 'Move Up';
}
.array-item-move-down::after {
	content: 'Move Down';
}
.array-item-remove::after {
	content: '×';
}
legend {
	position: relative;
	&::before, &::after {
		background-color: $blue;
		content: '';
		position: absolute;
	}
	&#root_copyright__title {
		&::before {
			width: .175em;
			height: .6em;
			left: -.5em;
			top: 0.5em;
		}
		&::after {
			width: .6em;
			height: .175em;
			left: -.94em;
			top: .95em;
		}
	}
	&#root_backstory__title {
		&::before {
			width: .175em;
			height: .6em;
			left: -.95em;
			top: 0.5em;
		}
		&::after {
			width: .6em;
			height: .175em;
			left: -.95em;
			top: 0.95em;
		}
	}
	&#root_context__title {
		&::before {
			width: .175em;
			height: .6em;
			left: -.95em;
			top: .3em;
		}
		&::after {
			width: .6em;
			height: .175em;
			left: -.95em;
			top: .3em;
		}
	}
	&#root_links__title {
		&::before {
			width: .175em;
			height: .6em;
			left: -.5em;
			top: 0.5em;
		}
		&::after {
			width: .6em;
			height: .175em;
			left: -.95em;
			top: .4em;
		}
	}
}