// Bootstrap Core
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

// Bootstrap Optional
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/input-group';

// Custom
@import 'vars';
@import 'root';
@import 'header';
@import 'left';
@import 'right';