$blue: #007bff;
$grey: #f5f5f5;

html, body {
	font-family: sans-serif;
}
h1, h2, h3, h4 {
	margin: 0;
}
header {
	margin: 30px auto;
}
*[readonly], *[disabled] {
	background-color: $grey !important;
}
#creator {
	margin: 30px auto 0 auto;
	.card {
		margin: 0 auto 30px auto;
		padding: 2em;
		background-color: $grey;
	  border: 1px solid #ccc;
	  border-radius: 4px;
	  overflow: hidden;
	}
}
#forms {

}
#embedder {
	&.sticky {
		position: fixed;
	  top: 0;
	}
	form {
		input.card {
			width: 100%;
			padding: .375rem .75rem;
			&:not([readonly]) {
				background-color: white;
			}
		}
	}
	#embed.card {
		width: 100%;
		position: relative;
		padding: 0;
		img {
			width: 100%;
			height: auto;
		}
		.corner {
			width: 2em;
			height: 2em;
			margin: 1em;
			border-style: solid;
			border-color: white;
			position: absolute;
			z-index: 5;
			transition: transform 100ms ease-in-out;
			&:hover, &.active {
				border-color: $blue;
				cursor: pointer;
			}
			&.tl {
				top: 0;
				left: 0;
				border-width: .5em 0 0 .5em;
			}
			&.tr {
				top: 0;
				right: 0;
				border-width: .5em .5em 0 0;
			}
			&.br {
				bottom: 0;
				right: 0;
				border-width: 0 .5em .5em 0;
			}
			&.bl {
				bottom: 0;
				left: 0;
				border-width: 0 0 .5em .5em;
			}
		}
		.cornerContent {
			width: calc(100% - 2em);
			height: calc(100% - 2em);
			position: absolute;
			left: 1em;
			top: 1em;
			z-index: 4;
			background: white;
			padding: 1em;
			opacity: 0;
			pointer-events: none;
			transform: scale(0.95);
			box-shadow: 0 0 2em 2em transparent;
			transition: transform 100ms ease-in-out, box-shadow 100ms ease-in-out;
			h1 {
		    margin: 0 0 .5rem 0;
		    font-size: 1.5rem;
			}
			&.active {
				opacity: 1;
				pointer-events: all;
				transform: scale(1);
			}
		}
		&.activeCorner {
			.corner {
				&.tl {
					transform: translate3d(-.5em, -.5em, 0);
				}
				&.tr {
					transform: translate3d(.5em, -.5em, 0);	
				}
				&.br {
					transform: translate3d(.5em, .5em, 0);
				}
				&.bl {
					transform: translate3d(-.5em, .5em, 0);
				}
			}
			.cornerContent {
				transform: scale(1);
				box-shadow: 0 0 2em 2em rgba(black,.5);
			}
		}
	}
}