*[readonly] {
	background-color: $light !important;
}
*[disabled] {
	background-color: $lightest !important;
	opacity: .5 !important;
}
.card {
	@include card;
}
.error-detail {
	display: none !important;
}
#creator {
	margin: 2rem auto 0 auto;
	.card {
		margin: 0 auto 2rem auto;
		overflow: hidden;
	}
	form {
		padding: 0 0 2rem 0;
	}
	@include media-breakpoint-down(sm) {
	 max-width: 100%;
	}
}
section {
	margin: 0 auto 2rem auto;
}
.form-group.field.field-object {
	// opacity: .5;
	transition: opacity 500ms ease-in-out;
	&:hover {
		opacity: 1;
	}
}
label.control-label, legend {
	width: auto;
	display: inline-block;
	font-weight: bold;
}
label.control-label {
	margin-bottom: .5rem;
}

.label-inner {
	display: flex;
	align-items: center;
	margin-left: .5rem;
}

.field-description {
	color: $dark;
	font-size: .75rem;
	margin-bottom: 1rem;
	display: none;


	// width: 100%;
	// max-width: 15rem;
	// max-height: 10rem;
	// position: absolute;
	// display: inline;
	// padding: .5rem;
	// margin-left: 1rem;
	// overflow-y: scroll;
	// @include card;
}

fieldset .field-object {
	margin-bottom: 5rem;
	padding-bottom: 3rem;
	border-bottom: 1px solid $medium;
	legend {
		// margin-bottom: 2rem;
	}
}
label {
	width: 100%;
}
.form-control {
	color: $dark;
	border-color: $blue;
	background-color: $lightest;
	box-shadow: 0 0 1px 1px rgba($dark,.1);
	padding: .375rem;
	&:focus {
		color: $dark;
		border-width: 1px;
		outline: 0;
		box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
	}
}
input.form-control {
	// border-width: 0 0 1px 0;
}
.select-widget {
	textarea, .has-error & textarea {
		margin-top: 30px;
		background-color: $lightest !important;
		&.hidden {
			display: none;
		}
	}
}
.select-widget-dropdown {
	overflow-y: scroll;
	padding: 0;
	&:not(.opened) {
		height: calc(10rem + 2px);
	}
	.option {
		padding: .375rem;
		border-bottom: 1px solid $light;
		.option-label {

		}
		.option-desc {
			@include smText;
		}
		&.selected, &.selected:hover {
			background-color: rgba($blue,.25);
		}
		&:hover {
			cursor: pointer;
			background-color: $light;
		}
	}
}


.checkbox-widget, .toggle-widget {
	display: flex;
	flex-wrap: no-wrap;
	label {
		position: relative;
		transition: all 100ms ease;
		display: flex;
		flex-direction: rows-reverse;
		flex-wrap: no-wrap;
		&::before, &::after {
			height: calc(2.25rem + 2px);
			display: block;
			border-radius: $radius;
			content: '';
			border: 1px solid $blue;
		}
		&::before {
			background: $lightest;
		}
		&::after {
			width: calc(2.25rem + 2px);
			position: absolute;
			left: 0;
			top: 0;
			background: $blue;
			transition: all 100ms ease;
			box-shadow: 0 0 1px 1px rgba($dark,.1);
		}
		&:hover {
			cursor: pointer;
		}
	}
	input[type="checkbox"], input[type="radio"] {
		position: absolute;
		left: -999999px;
		&:focus {
			opacity: 0.00001;
		}
		
	}
	.toggle-input, .toggle-label {
		width: 100%;
		margin-left: 1rem;
	}
}

.checkbox-widget {
	flex-direction: rows;
	label {
		width: 100%;
		opacity: 0.5;
		&::before {
			width: calc(2.25rem + 2px);
		}
		&::after {
			opacity: 0;
		}
	}
	input:checked + label {
		opacity: 1;
		&::after {
			opacity: 1;
		}
	}
}

.toggle-widget {
	flex-direction: rows-reverse;
	label {
		width: 5rem;
		opacity: 0.5;
		&::before {
			width: 5rem;
		}
	}
	input:checked + label {
		opacity: 1;
		&::after {
			left: 2.75rem;
		}
	}
}

.field-array {
	legend {
		font-size: inherit;
	}
	.row {
		margin-left: 0;
		margin-right: 0;
	}

	.field-object {
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom: 0;
	}
}
.array-item-list.row {
	margin-left: 0;
	margin-right: 0;
}
.array-item {
	width: 100%;
	margin: 0 auto 2rem auto;
	@include card;
	overflow: hidden;
}
.has-error {
	input, select, textarea {
		background-color: rgba(red,.2) !important;
	}
}
.btn-group {
	display: block !important;
}
button {
	height: 2.5rem;
	margin: 0 .5rem 0 0;
	padding: .5rem !important;
	position: relative;
	flex: inherit !important;
	box-shadow: 0 0 1px 1px rgba($dark,.1);
	@include card;
	&.btn-add, &.btn-danger {
		width: 2.5rem;
	}
	&::after {
		font-weight: normal;
	}
	&:last-of-type {
		margin: 0;
	}
	&:hover {
		background-color: $light;
		cursor: pointer;
	}
	&[disabled] {
		opacity: .5;
		&:hover {
			cursor: default;
		}
	}
}
i.glyphicon {
	display: none;
}
.btn-add::after {
	content: '+';
}
.array-item-move-up::after {
	content: 'Move Up';
}
.array-item-move-down::after {
	content: 'Move Down';
}
.array-item-remove::after {
	content: '×';
}
legend {
	position: relative;
	&::before, &::after {
		background-color: $blue;
		content: '';
		position: absolute;
	}
	&#root_copyright__title {
		&::before {
			width: .175em;
			height: .6em;
			left: -.5em;
			top: 0.5em;
		}
		&::after {
			width: .6em;
			height: .175em;
			left: -.94em;
			top: .95em;
		}
	}
	&#root_backstory__title {
		&::before {
			width: .175em;
			height: .6em;
			left: -.95em;
			top: 0.5em;
		}
		&::after {
			width: .6em;
			height: .175em;
			left: -.95em;
			top: 0.95em;
		}
	}
	&#root_context__title {
		&::before {
			width: .175em;
			height: .6em;
			left: -.95em;
			top: .3em;
		}
		&::after {
			width: .6em;
			height: .175em;
			left: -.95em;
			top: .3em;
		}
	}
	&#root_links__title {
		&::before {
			width: .175em;
			height: .6em;
			left: -.5em;
			top: 0.5em;
		}
		&::after {
			width: .6em;
			height: .175em;
			left: -.95em;
			top: .4em;
		}
	}
}