*[readonly] {
	background-color: $light !important;
}
*[disabled] {
	background-color: $lightest !important;
	opacity: .5 !important;
}
.card {
	@include card;
}
.error-detail {
	display: none !important;
}
legend {
	@include lgText;	
	line-height: 1.5em;	
	margin-bottom: 1rem;
	&#root_athourship__title,
	&#root_backstory__title,
	&#root_context__title,
	&#root_links__title {
		&::before {
			width: 2rem;
			height: 2rem;
			// background-color: $blue;
			position: absolute;
	    right: -3rem;
	    top: .1rem;
	    background-size: 2rem;
			background-position: center;
			background-repeat: no-repeat;
			background-image: url(./../images/selected.svg);
			content: '';
		}
	}
	&#root_backstory__title {
		&::before {
			transform: rotate(90deg);
		}
	}
	&#root_context__title {
		&::before {
			transform: rotate(180deg);
		}
	}
	&#root_links__title {
		&::before {
			transform: rotate(270deg);
		}
	}
}
section {
	margin: 0 auto 2rem auto;
}
.form-group.field.field-object {
	// opacity: .5;
	transition: opacity 500ms ease-in-out;
	&:hover {
		opacity: 1;
	}
}
label.control-label, legend {
	width: auto;
	display: inline-block;
	font-weight: bold;
}
label.control-label {
	margin-bottom: .5rem;
}

.label-inner {
	display: flex;
	align-items: center;
	margin-left: .5rem;
}

.field-description {
	color: $dark;
	font-size: .75rem;
	margin-bottom: 1rem;
	display: none;


	// width: 100%;
	// max-width: 15rem;
	// max-height: 10rem;
	// position: absolute;
	// display: inline;
	// padding: .5rem;
	// margin-left: 1rem;
	// overflow-y: scroll;
	// @include card;
}

fieldset .field-object {
	margin-bottom: 5rem;
	padding-bottom: 5rem;
	border-bottom: 1px solid $blue;
	legend {
		// margin-bottom: 2rem;
	}
}
label {
	width: 100%;
}
.form-control {
	color: $dark;
	border-color: $blue;
	background-color: $lightest;
	box-shadow: 0 0 1px 1px rgba($dark,.1);
	padding: .375rem;
	@include focus;
}
input.form-control {
	// border-width: 0 0 1px 0;
}
.select-widget {
	select {
		width: 100%;
		@include hidden;
		&:focus + .select-widget-dropdown {
			@include shadow;
		}
	}
	textarea, .has-error & textarea {
		margin-top: 30px;
		background-color: $lightest !important;
		&.hidden {
			display: none;
		}
	}
}
.select-widget-dropdown {
	overflow-y: scroll;
	padding: 0;
	&:not(.opened) {
		height: calc(10rem + 2px);
	}
	.option {
		padding: .375rem;
		border-bottom: 1px solid $light;
		@include slowTrans;
		.option-label {

		}
		.option-desc {
			@include smText;
		}
		&.selected, &.selected:hover {
			background-color: rgba($blue,.25);
		}
		&:hover {
			cursor: pointer;
			background-color: $light;
		}
	}
}


.checkbox-widget, .toggle-widget {
	display: flex;
	flex-wrap: no-wrap;
	label {
		position: relative;
		display: flex;
		flex-direction: rows-reverse;
		flex-wrap: no-wrap;
		border-radius: $radius;
		@include slowTrans;
		&::before, &::after {
			height: calc(2.25rem + 2px);
			display: block;
			border-radius: $radius;
			content: '';
			border: 1px solid $blue;
		}
		&::before {
			background: $lightest;
		}
		&::after {
			width: calc(2.25rem + 2px);
			position: absolute;
			left: 0;
			top: 0;
			background: $blue;
			@include slowTrans;
			box-shadow: 0 0 1px 1px rgba($dark,.1);
		}
		&:hover {
			cursor: pointer;
			opacity: .7;
		}
	}
	input[type="checkbox"], input[type="radio"] {
		@include hidden;
	}
	.toggle-input, .toggle-label {
		width: 100%;
		margin-left: 1rem;
	}
}

.checkbox-widget {
	flex-direction: rows;
	label {
		width: 100%;
		opacity: 0.5;
		&::before {
			width: calc(2.25rem + 2px);
		}
		&::after {
			opacity: 0;
		}
	}
	input:checked + label {
		opacity: 1;
		&::after {
			opacity: 1;
		}
	}
	input:focus + label::before {
		@include shadow;
	}
}

.toggle-widget {
	flex-direction: rows-reverse;
	label {
		width: 5rem;
		opacity: 0.5;
		&::before {
			width: 5rem;
		}
	}
	input:checked + label {
		opacity: 1;
		&::after {
			left: 2.75rem;
		}
	}
	input:focus + label {
		@include shadow;
	}
}

.field-array {
	legend {
		font-size: inherit;
	}
	.row {
		margin-left: 0;
		margin-right: 0;
	}

	.field-object {
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom: 0;
	}
}
.array-item-list.row {
	margin-left: 0;
	margin-right: 0;
}
.array-item {
	width: 100%;
	margin: 0 auto 2rem auto;
	@include card;
	overflow: hidden;
}
.has-error {
	input, select, textarea {
		background-color: rgba(red,.2) !important;
	}
}
.btn-group {
	display: block !important;
}
button {
	height: 2.5rem;
	margin: 0 .5rem 0 0;
	padding: .5rem !important;
	position: relative;
	flex: inherit !important;
	box-shadow: 0 0 1px 1px rgba($dark,.1);
	@include card;
	@include focus;
	&.btn-add, &.btn-danger {
		width: 2.5rem;
	}
	&::after {
		font-weight: normal;
	}
	&:last-of-type {
		margin: 0;
	}
	&:hover {
		background-color: $light;
		cursor: pointer;
	}
	&[disabled] {
		opacity: .5;
		&:hover {
			cursor: default;
		}
	}
}
i.glyphicon {
	display: none;
}
.btn-add::after {
	content: '+';
}
.array-item-move-up::after {
	content: 'Move Up';
}
.array-item-move-down::after {
	content: 'Move Down';
}
.array-item-remove::after {
	content: '×';
}
legend {
	position: relative;
}