header {
	width: 100%;
	padding: .5rem 0;
	background-color: $lightBlue;
	border-bottom: 1px solid $blue;
	box-shadow: 0 0 1px 1px rgba($dark,.1);
	a, a:visited {
		display: table;
		padding: .5rem;
		color: $dark;
		box-shadow: 0 0 1px 1px rgba($dark,.1);
		border: {
			width: 1px;
			style: solid;
			color: $blue;
			radius: $radius;
		}
		&:hover {
			// color: $blue;
			background-color: $lightest;
		}
	}
	.col {
		display: flex;
		.col-content {
			margin: auto;
		}
	}
}
h1.site-title {
	
}
nav.site-nav {
	clear: both;
	margin-bottom: -5px;
	display: table;
	a {
		float: left;
		margin: 0 .5rem .5rem 0;
	}
}