.intro-text {
	@include lgText;
	p {
		margin-bottom: 2rem;
	}
}

.explainer {
	min-height: 15rem;
	padding: 2rem 0;
	margin: 3rem 0;
	background-color: $mediumBlue;
	border-radius: $radius;
	@include shadow;
	.col {
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	.col-content {
		// height: 100%;
		margin: auto;
	}
	.fc-embed {
		max-height: 20rem;
		border-radius: $radius;
		mix-blend-mode: multiply;
		@include shadow;
		.fc-photo {

		}
		img {
			filter: grayscale(1);
		}
		.fc-corner {
			&[data-slug='context'] {
				top: 0em;
				left: 0em;
			}
			&[data-slug='links'] {
				top: 0em;
				right: 0em;
			}
			&[data-slug='authorship'] {
				bottom: 0em;
				right: 0em;
			}
			&[data-slug='backstory'] {
				bottom: 0em;
				left: 0em;
			}
		}
	}
	h2 {
		color: $dark;
		margin: 0 0 1.5rem 0;
		p {
			color: $dark;
		}
		strong {
			color: $blue;
		}
	}
	p {
		color: $medium;
	}
}