.intro-text {
	@include lgText;
	p {
		margin-bottom: 2rem;
	}
}

.explainer {
	padding: 2rem 0;
	margin: 3rem 0;
	background-color: $mediumBlue;
	border-radius: $radius;
	@include shadow;
	.col {
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	.col-content {
		// height: 100%;
		margin: auto;
	}
	.fc-embed {
		@include shadow;
	}
	h2 {
		color: $dark;
		margin: 0 0 1.5rem 0;
		p {
			color: $dark;
		}
		strong {
			color: $blue;
		}
	}
	p {
		color: $medium;
	}
}