html, body {
	font-family: 'Noto Sans', 'Helvetica', 'Arial', sans-serif;
	background-color: $lighter;
  overflow-x: hidden;
}
.rtl, .rtl * {
	text-align: right;
}
#page {
  width: 100%;
  display: table;
}
h1, h2, h3, h4 {
	margin: 0;
}
h1 {
  @include xlText;
  font-weight: 700;
}
a, a:visited, a:hover {
  color: $blue;
  text-decoration: none;
  @include focus;
  @include medTrans;
}
.container {

}
.col {
  background-color: $lightBlue;
  &.left {
    margin: 0 1px 0 -1px;    
    .col-content {
      padding-right: 45px;
      float: right;
    }
  }
  &.right {
    flex: 1;
    margin: 0 -1px 0 1px;
    .col-content {
      padding-left: 45px;
      float: left;
    } 
  }
}
.col-inner {
  width: 100%;
  height: 100%;
  position: relative;
}
.col-content {
	width: 100%;
  margin: 0;
	padding-bottom: 3rem;
  padding: 30px;
}
@include sm {
  .half-max-width {
    max-width: calc(540px/2);
  }
}
@include md {
  .half-max-width {
    max-width: calc(720px/2);
  }
}
@include lg {
  .half-max-width {
    max-width: calc(960px/2);
  }
}
@include xl {
  .half-max-width {
    max-width: calc(1140px/2);
  }
}