#creator {
	.col-content {
		
	}
	.card {
		margin: 0 auto 2rem auto;
		overflow: hidden;
	}
	.intro-text {
		max-width: calc(50% + 28rem);
		margin: 0 0 2rem 0;
	}
	.col.right {
		form {
			// max-width: 25rem; 
		}
	}
	form {
		// padding: 0 0 2rem 0;
	}
}
#embed-import {
	height: 100%;
}
#popup-links {
	width: 100%;
	display: flex;
	align-items: flex-end;
	flex-direction: row-reverse;
}
.popup-link {
	display: inline-block;
	&:not(:last-child) {
		margin-left: .75rem;
		&::after {
	
		}
	}
	label {
		margin-bottom: .125rem;
		a {
			color: $darkest;
			&:hover {
				cursor: pointer;
				color: $blue;
			}
		}
	}
}
#creator-popup {
	width: 100%;
	height: 100%;
	padding: 2rem;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10;
	display: flex;
	background-color: $lighten;
	.content-block {
		max-height: 100%;
		padding: 1rem;
		position: relative;
		z-index: 12;
		pointer-events: all;
		overflow-y: scroll;
		@include border;
		@include mediumShadow;
	}
	textarea {
		@include xsText;
	}
	.desc {
		background-color: transparent;
		padding: 0;
	}
	.form-elem {
		
	}
	.buttons-group {
		margin: 1rem 0 0 0;
	}
	#embed-import:not(.opened) & {
		display: none;
	}
	.tab-content {
		width: 80%;
		max-width: 50rem;
		max-height: 80%;
		margin: auto;
		&:not(.opened) {
			display: none;
		}
	}
	.saved-states {

	}
	.saved-state {
		border: solid $blue;
		border-width: 0 1px 1px 1px;
		background-color: $lightest;
		.toggle-label {
			padding: 1rem;
			&::after {
				right: 1.25rem;
			}
			&:hover {
				background-color: $lighter;
			}
		}
		.saved-inner {
			width: 100%;
			overflow-y: hidden;
			.row {
				padding: 1rem;
			}
		}
		// .buttons-group {
		// 	display: table;
		// 	margin-top: 0;
		// 	float: right;
		// }
		// .button {
		// 	margin-bottom: 0;
		// }
		.fc-embed {
			@include smallShadow;
		}
		&:first-child {
			border-top-width: 1px;
		}
		&.collapse .saved-inner {
			height: 0;
		}
		&.expand {
			.toggle-label {
				background-color: $lighter;
				border-bottom: 1px solid $blue;
			}
			.saved-inner {
				height: auto;
				display: table;
				background-color: $lighter;
			}
		}
	}
}
button.close-popup {
	width: 2rem;
  height: 2rem;
	position: absolute;
	right: 1rem;
	top: 1rem;
	padding: 0 1rem;
	&::after {
		content: 'X';
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		font-weight: bold;
		text-align: center;
		@include mdText;
		line-height: 1.2em;
	}
}
#popup-back {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 11;
}