#creator {
	.col-content {
		margin-top: 1.75em;
	}
	.card {
		margin: 0 auto 2rem auto;
		overflow: hidden;
	}
	.intro-text {
		max-width: calc(50% + 28rem);
		margin: 0 0 2rem 0;
	}
	.col.right {
		form {
			// max-width: 25rem; 
		}
	}
	form {
		// padding: 0 0 2rem 0;
	}
}