footer {
	width: 100%;
	padding: .5rem 0;
	background-color: $mediumBlue;
	a, a:visited {
		color: $darkest;
		border-bottom: 1px solid $blue;
		&:hover, &:focus {
			color: $darkest;
			border-bottom-color: $darkest;
		}
	}
	nav {
		ol {
			margin: 0;
			padding: 0;
			list-style: none;
		}
		li {
			margin: 0 0 .5rem 0;
		}
	}
}