* {
	box-sizing: border-box;
}
*[readonly] {
	background-color: $light !important;
}
*[disabled] {
	background-color: $lightest !important;
	opacity: .5 !important;
}
.card {
	@include card;
}
.error-detail {
	display: none !important;
}
.col-form {
	min-height: 100vh;
	@include sm {
		min-height: unset;
	}
}
fieldset {
	width: 100%;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	&.collapse, &.expand {
		border-bottom: 1px solid $medium;
	}
	&.collapse .fieldset-inner {
		height: 0;
	}
	&.expand .fieldset-inner {
		height: auto;
		margin-top: 1em;
	}
}
.fieldset-inner {
	overflow: hidden;
}
.field {
	margin: 1rem .25rem 2rem .25rem;
	&.half {
		width: 50%;
		margin-left: 0;
		margin-right: 0;
		padding: 0 .25rem;
		float: left;
	}
	&.checkbox {
		margin-bottom: .25rem;
	}
}
.fields-group {
	margin: 1rem .25rem 2rem .25rem;
	.field {
		margin: 0 0 .5rem 0;
		label {
			@include smText;
		}
		&:last-child {
			margin: 0;
		}
	}
}
.field-toggle {
	.field {
		margin-left: 0;
		margin-right: 0;
	}
}
.field-toggle-checkboxes {
	display: flex;
	.field {
		width: 50%;
	}
}
.field-toggle-fields {

}
.field-toggle-field {
	&:not(.active) {
		display: none;
	}
}


section {
	margin: 0 auto 2rem auto;
}
.form-group {
	position: relative;
}
label, legend {
	font-weight: bold;
}
legend {
	width: 100%;
	margin: 0;
	display: block;
	position: relative;
	user-select: none;
	color: $medium;
	@include fastTrans;
	@include lgText;
	line-height: 1.5em;
	span {
		position: relative;
	}
	fieldset.expand &, fieldset.collapse & {
		&::after {
			width: 1rem;
			height: 1rem;
			position: absolute;
			right: .75rem;
			top: calc(50% - .75rem);
			transform: rotate(45deg);
			border: solid $medium;
			border-width: 0 2px 2px 0;
			content: '';
			@include fastTrans(border-color);
		}
		span::before {
			opacity: .5;
		}
		&:hover {
			cursor: pointer;
		}
	}
	fieldset.collapse:hover & {
		color: $darkest;
	}
	fieldset.expand & {
		color: $blue;
		&::after {
			top: calc(50% - .25rem);
			transform: rotate(-135deg);
		}
	}
	fieldset.collapse:hover &, fieldset.expand & {
		span::before {
			opacity: 1;
		}
		&::after {
			border-color: $darkest;
		}
	}
	#authorship &,
	#backstory &,
	#imagery &,
	#links & {
		span {
			padding-left: 3rem;
		}
		span::before {
			width: 2rem;
			height: 2rem;
			position: absolute;
			left: 0;
			top: .05rem;
			background-size: 2rem;
			background-position: center;
			background-repeat: no-repeat;
			background-image: url(./../images/selected.svg);
			content: '';
			@include fastTrans;
		}
	}
	#backstory & span::before {
		transform: rotate(90deg);
	}
	#imagery & span::before {
		transform: rotate(180deg);
	}
	#links & span::before {
		transform: rotate(270deg);
	}
}
label {
	margin-bottom: .5rem;
	display: inline-block;
	position: relative;
}
.label-inner {
	display: flex;
	align-items: center;
}
.toggle-desc {
	width: .75rem;
	height: 1rem;
	margin: 0 0 0 .25rem;
	display: inline-block;
  vertical-align: middle;
	div {
		width: .75rem;
		height: .75rem;
		background-color: $lightest;
		border: 1px solid $medium;
		border-radius: 50%;
		font-size: .5rem;
		line-height: 1em;
		text-align: center;
		display: table;
		&:hover {
			background-color: $light-blue;
			border-color: $dark;
			cursor: pointer;
		}
	}
}
.desc {
	width: 100%;
	margin: 0 0 1rem 0;
	padding: .5rem;
	display: block;
	background-color: $light;
	border-radius: $radius;
	font-style: italic;
	@include smText;
	p:last-of-type {
		margin: 0;
	}
}
.field-desc {
	&:not(.opened) {
		display: none;
	}
	// color: $medium;
	// font-style: italic;
}
.fieldset-desc {
	margin-top: .5rem;
	display: block;
}

.form-elem {
	width: 100%;
	color: $darkest;
	border-color: $blue;
	background-color: $lightest;
	box-shadow: 0 0 1px 1px rgba($darkest,.1);
	padding: .375rem;
	@include border;
	@include focus;
}

select {
	height: 2.5rem;
}

.select.field {
	select {
		@include hidden;
		&:focus + .select-widget {
			@include highlight;
		}
	}
}
.select-widget {
	overflow-y: scroll;
	padding: 0;
	&:not(.opened) {
		height: 10rem;
	}
	textarea {
		// width: calc(100% - .75rem);
		margin: .375rem 0;
	}
	.option {
		padding: .375rem;
		border-bottom: 1px solid $light;
		@include fastTrans;
		label {
			pointer-events: none;
			margin: 0;
		}
		.toggle-desc {
			pointer-events: all;
		}
		.desc {
			margin: .5rem 0;
			padding: unset;
			background-color: unset;
			background-radius: unset;
		}
		textarea {
			@include smText;
		}
		&.selected, &.selected:hover {
			background-color: rgba($blue,.25);
		}
		&:hover {
			cursor: pointer;
			background-color: $light;
		}
	}
	.custom {
		&.selected {
			.option-desc {
				display: none;
			}
		}
		&:not(.selected) {
			textarea {
				display: none;
			}
		}
	}
}



.checkbox-widget, .toggle-widget {
	display: flex;
	flex-wrap: no-wrap;
	label.checkbox {
		width: auto;
		position: relative;
		display: flex;
		opacity: 0.5;
		flex-direction: rows-reverse;
		flex-wrap: no-wrap;
		border-radius: $radius;
		@include fastTrans;
		&:hover {
			cursor: pointer;
			opacity: .7;
		}
		&::before, &::after {
			width: 2.25rem;
			height: 2.25rem;
			display: block;
			flex: none;
			border-radius: $radius;
			border: 1px solid $blue;
			content: '';
		}
		&::before {
			background: $lightest;
			margin-right: .5rem;
		}
		&::after {
			width: 2.25rem;
			position: absolute;
			left: 0;
			top: 0;
			background: $blue;
			@include fastTrans;
			box-shadow: 0 0 1px 1px rgba($darkest,.1);
		}
	}
	input:checked + label {
		opacity: 1;
	}
	input[type="checkbox"], input[type="radio"] {
		@include hidden;
	}
	.toggle-input, .toggle-label {
		width: 100%;
		margin-left: 1rem;
	}
}

.checkbox-widget {
	flex-direction: rows;
	label.checkbox {
		&::before {
			width: 2.25rem;
		}
		&::after {
			opacity: 0;
		}
		p {
			display: block;
			font-weight: normal;
		}
	}	
	input:checked + label {
		&::after {
			opacity: 1;
		}
	}
	input:focus + label::before {
		@include highlight;
	}
	// button {
	// 	width: 100%;
	// 	position: absolute;
	// 	left: 0;
	// 	top: 0;
	// }
	input[type="file"] {
		@include hidden;
	}
}

.toggle-widget {
	flex-direction: rows-reverse;
	label {
		width: 5rem;
		opacity: 0.5;
		&::before {
			width: 5rem;
		}
	}
	input:checked + label {
		opacity: 1;
		&::after {
			left: 2.75rem;
		}
	}
	input:focus + label {
		@include highlight;
	}
}

.file.field {
	label.button {
		width: auto;
		display: table;
		// font-weight: normal;
	}
	.checkbox-content {
		width: 100%;
		opacity: 0.5
	}
	input:checked + label + .checkbox-content {
		opacity: 1;
	}
	input[name="imgSrc"] {
		@include hidden;
	}
}

// .field-array {
// 	legend {
// 		font-size: inherit;
// 	}
// 	.row {
// 		margin-left: 0;
// 		margin-right: 0;
// 	}

// 	.field-object {
// 		margin-bottom: 0;
// 		padding-bottom: 0;
// 		border-bottom: 0;
// 	}
// }
// .array-item-list.row {
// 	margin-left: 0;
// 	margin-right: 0;
// }
.block-widget {
	width: 100%;
	margin: 0 auto 1rem auto;
	position: relative;
	overflow: hidden;
	padding: 0 .325rem .75rem .325rem;
	@include shadow;
	@include border;
	// label {
		// margin: 0 .325rem;
	// }
	.field {
		margin-top: .5rem;
		margin-bottom: .5rem;
	}
}
.blocks-buttons {
	.button {
		display: inline-block;
	}
}
.widget-buttons {
	position: absolute;
	right: .5rem;
	top: .625rem;
}
.widget-button {
	width: 1.5rem;
	height: 1.5rem;
	display: inline-block;
	position: relative;
	background-size: 1em;
	background-position: center;
	background-repeat: no-repeat;
	&:hover {
		cursor: pointer;
	}
}
.move-block {
	background-image: url(./../images/move.svg);
	// &::before, &::after {
	// 	position: absolute;
	// 	border: solid $medium;
	// 	content: '';
	// 	@include fastTrans(border-color);
	// }
	// &::before {
	// 	width: 0;
 //    height: .625rem;
	// 	left: calc(50% - 1px);
	// 	top: .375rem;
	// 	border-width: 0 1px;
		
	// }
	// &::after {
	// 	width: .75rem;
	// 	height: .75rem;
	// 	left: .375rem;
	// 	bottom: .375rem;
	// 	border-width: 0 2px 2px 0;
	// 	transform: rotate(-135deg);
	// }
	&[data-dir="up"] {

	}
	&[data-dir="down"] {
		transform: rotate(180deg);
		// &::before {
		// 	bottom: .375rem;
		// }
		// &::after {
		// 	bottom: .375rem;
		// 	transform: rotate(45deg);
		// }
	}
	&[data-new-index=""] {
		opacity: .2;
	}
}
.delete-block {
	background-image: url(./../images/close.svg);
	// &::before, &::after {
	// 	width: .75rem;
	// 	height: .75rem;
	// 	position: absolute;
	// 	left: .375rem;
	// 	border: solid $medium;
	// 	border-width: 0 2px 2px 0;
	// 	content: '';
	// 	@include fastTrans(border-color);
	// }
	// &::before {
	// 	top: calc(50% - .825rem);
	// 	transform: rotate(45deg);
	// }
	// &::after {
	// 	bottom: calc(50% - .825rem);
	// 	transform: rotate(-135deg);
	// }
}
.has-error {
	input, select, textarea {
		background-color: rgba(red,.2) !important;
	}
}
.button {
	height: 2.25rem;
	width: auto;
	margin: 0 .5rem .5rem 0;
	padding: .325rem .75rem;
	position: relative;
	display: table;
	box-shadow: 0 0 1px 1px rgba($darkest,.1);
	background-color: $lightest;
	font-weight: 700;
	@include shadow;
	@include border;
	@include focus;
	&::after {
		font-weight: normal;
	}
	&:last-of-type {
		margin: 0;
	}
	&:hover {
		background-color: $light;
		cursor: pointer;
	}
	&[disabled] {
		opacity: .5;
		&:hover {
			cursor: default;
		}
	}
}