#gallery {
	h2 {
		text-align: center;
	}
	#gallery-embeds {
		// padding-right: 30px;
		// padding-left: 30px;
		// display: flex;
		// flex-flow: column wrap;
		// display: table;
		// width: 100%;
	}
	.embed-col {
		float: left;
		transition: none;
	}
	.fc-embed {
		opacity: 1;
		// transition: opacity 500ms ease-in-out;
		// &.loaded {
			// opacity: 1;
		// }
	}
	.embed-wrap {
		margin-bottom: 3rem;
		padding-top: 2rem;
		border-top: 1px solid $blue;
	}
}