header {
	width: 100%;
	padding: .5rem 0 .75em 0;
	background-color: $lightBlue;
	// border-bottom: 1px solid $medium;
	.col {
		display: flex;
		.col-content {
			margin: 0;
		}
	}
	@include md {
		.col {
			margin-top: 0;
			margin-bottom: 0;
			padding-top: .5rem;
			padding-bottom: .5rem;
		}
	}
}
#title {
	display: table;
	a {
		color: $darkest;
		display: table;
		position: relative;
		&:hover, &:focus {
			color: $blue;
			outline: none;
		}
	}
	h1 {
		display: table;
	}
}
h3#site-title {
	position: relative;
	font-weight: bold;
	a {
		padding: 0 2rem 0 0;
		@include fastTrans;
		&::before, &::after {
			width: 1.5rem;
			height: 1.5rem;
			position: absolute;
			right: 0rem;
			top: .5rem;
			background-image: url(./../images/icon.svg);
			background-repeat: no-repeat;
			background-size: cover;
			// transition: opacity 200ms ease;
			@include fastTrans;
			content: '';
		}
		&::after {
			background-position: bottom center;
			#title:hover &, #title:focus & {
				opacity: 0;
			}
		}
		&::before {
			background-position: top center;
		}
	}
}
#nav {
	// clear: both;
	float: right;
	margin-bottom: -5px;
	display: table;
	a, a:visited {
		display: inline-table;
		margin: 0 0 .5rem 1rem;
		float: left;
		color: $dark;
		border-bottom: 1px solid $blue;
		@include smText;
		&:hover, &:focus {
			color: $darkest;
		}
	}
	@include md {
		float: none;
		a, a:visited {
			margin-left: 0;
			margin-right: .5rem;
		}
	}
}