header {
	width: 100%;
	padding: .5rem 0 .75em 0;
	border-bottom: 1px solid $medium;
	.col {
		display: flex;
		.col-content {
			// margin: auto;
		}
	}
}
#title {
	display: table;
	a {
		color: $darkest;
		display: table;
		position: relative;
		&:hover, &:focus {
			color: $blue;
			outline: none;
		}
	}
	h1 {
		display: table;
	}
}
h1#page-title a {
	color: $medium;
}
h1#site-title {
	position: relative;
	&::before, &::after {
		width: 2rem;
		height: 2rem;
		position: absolute;
		right: -3rem;
		top: .5rem;
		background-image: url(./../images/icon.svg);
		background-repeat: no-repeat;
		background-size: cover;
		transition: opacity 200ms ease;
		content: '';
	}
	&::after {
		background-position: bottom center;
		#title:hover &, #title:focus & {
			opacity: 0;
		}
	}
	&::before {
		background-position: top center;
	}
}
#nav {
	clear: both;
	margin-bottom: -5px;
	display: table;
	a, a:visited {
		display: inline-table;
		margin: 0 1rem .5rem 0;
		float: left;
		color: $dark;
		border-bottom: 1px solid $blue;
		@include mdText;
		&:hover, &:focus {
			color: $darkest;
		}
	}
}