// .intro-text {
// 	@include lgText;
// 	p {
// 		margin-bottom: 2rem;
// 	}
// }

#home {
	// padding-top: 0;
}

#home-intro {
	.fc-embed {
		background-color: $lightBlue;
		mix-blend-mode: multiply;
		@include smallShadow;
		@include border;
	}
	.fc-corner {
		// filter: none;
		&::after, &::before {
			// background-color: $mediumBlue;
		}
	}
}

#home-about {
	background-color: $mediumBlue;
	color: $darkest;
}

#corners-preview {
	width: 100%;
	height: auto;
}

.corner-block {
	height: 100%;
  display: table;
	background-color: $light;
	@include mediumShadow;
}

.corner-blocks {
	margin: 2rem 0 0 0;
	align-items: stretch;
	.col {
		margin: 1rem 0;
	}
	.col-content {
		height: 100%;
		margin: 0;
	}
}

.prompt-link {
	a {
		position: relative;
		&::after {
			width: 3rem;
			height: 1.5rem;
			margin-left: .5rem;
			display: inline-block;
			background-image: url(./../images/right-arrow.svg);
			background-repeat: no-repeat;
			background-size: cover;
			content: '';
			@include fastTrans;
		}
		&:hover {
			color: $darkest;
			&::after {
				filter: brightness(0);
			}
		}
	}
}

h2.corner-title {
	position: relative;
	font-size: 3vw;
	line-height: 1em;
	margin-bottom: .5rem;
	text-align: center;
	div::before {
		width: 4rem;
		height: 4rem;
		display: block;
		margin: 1rem auto;
		background-size: 4rem;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url(./../images/selected.svg);
		content: '';
		@include fastTrans;
	}
	&#backstory div::before {
		transform: rotate(90deg);
	}
	&#imagery div::before {
		transform: rotate(180deg);
	}
	&#links div::before {
		transform: rotate(270deg);
	}
}
