.sticky {
	overflow-y: auto;
	@include sm {
		width: 100% !important;
		height: auto !important;
		position: relative !important;
		top: unset !important;
		left: unset !important;
		padding-top: 0px !important;
	}
	&.stuck {
		width: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}
}
#embedder {
	margin-top: .5rem;
	form {
		input.card, textarea.card {
			width: 100%;
			// padding: .375rem .75rem;
			&:not([readonly]) {
				background-color: $lightest;
			}
		}
	}
	input, textarea {
		background-color: $lightest;
		// &:focus {
		// 	background-color: $blue;
		// }
	}
	.fc-embed {
		&:not(.fc-loaded) .fc-corner {
			&[data-slug='context']:not(.fc-active) {
				top: 0em;
				left: 0em;
			}
			&[data-slug='links']:not(.fc-active) {
				top: 0em;
				right: 0em;
			}
			&[data-slug='authorship']:not(.fc-active) {
				bottom: 0em;
				right: 0em;
			}
			&[data-slug='backstory']:not(.fc-active) {
				bottom: 0em;
				left: 0em;
			}
		}
	}
}
.fc-embed {
	transition: all 200ms ease-in-out;
	padding: 0;
	.fc-photo {
		background-color: $medium-blue;
	}
}
.no-photo {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	@include strong;
	h2 {
		margin: auto;
		color: $medium;
		user-select: none;
		@include strong;
		@include fastTrans;
	}
	:not(.fc-loaded) &:hover {
		cursor: pointer;
		h2 {
			color: $dark;
		}
	}
}
	// &:not(.has-image) {
	// 	.form-group.focus, .form-group:focus {
	// 		color: $darkest;
	// 		background-color: $blue;
	// 		border-width: 1px;
	// 		outline: 0;
	// 		box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
	// 		.label-text {
	// 			color: $light;
	// 		}
	// 		.fc-corner {
	// 			&::before, &::after {
	// 				background-color: $lightest !important;
	// 			}
	// 		}
	// 	}
	// 	.fc-embed {
	// 		pointer-events: none;
	// 	}
	// 	.fc-corner {
	// 		opacity: 1;
	// 		&::before, &::after {
	// 			background-color: $blue;
	// 		}
	// 		&[data-slug='context'] {
	// 			top: calc(50% - 5rem);
	// 			left: calc(50% - 5rem);
	// 		}
	// 		&[data-slug='links'] {
	// 			top: calc(50% - 5rem);
	// 			right: calc(50% - 5rem);
	// 		}
	// 		&[data-slug='authorship'] {
	// 			bottom: calc(50% - 5rem);
	// 			right: calc(50% - 5rem);
	// 		}
	// 		&[data-slug='backstory'] {
	// 			bottom: calc(50% - 5rem);
	// 			left: calc(50% - 5rem);
	// 		}
	// 	}
	// 	.fc-panel {
	// 		display: none;
	// 	}
	// }
.form-cols {
	display: flex;
	flex-direction: rows;
	flex-wrap: wrap;
	.form-col {
		width: 50%;
	}
}
#embed-output {
	padding: 2rem 0 5rem 0;
	form {
		margin: .25rem;
	}
	legend span {
		margin-left: .25rem;
	}
	button {
		// margin: .25rem;
	}
	.field {
		margin-bottom: .25rem;
		margin-left: 0;
		margin-right: 0;
		padding: 0 .25rem;
	}
	textarea.output {
		direction: ltr !important;
    word-break: break-all;
		background-color: $light;
		@include smText;
	}
}