html, body {
	width: 100%;
	height: 100%;
	font-family: 'Noto Sans', Arial, sans-serif;
	background-color: $lightest;
	overflow-x: hidden;
	@include baseText;
}
html {
	overflow: hidden;
}
body {
	overflow-y: scroll;
}
::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background: transparent;
}
* {
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
}
.rtl, .rtl * {
	text-align: right;
}
#page {
	width: 100%;
	min-height: 100%;
	display: table;
}
.page-fill {
	width: 100%;
	height: 100%;
	background: red;
}
main {
	min-height: 100vh;
	margin: auto;
	padding: 2rem 0;
	position: relative;
}
section {
	padding: 1rem 0;	
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
h1 {
	@include xlText;
	@include strong;
}
h2 {
	@include lgText;
	@include strong;
}
h3 {
	@include mdText;
}
h4 {
	@include smText;
}
strong {
	@include strong;
}
a, a:visited, a:hover {
	color: $blue;
	text-decoration: none;
	@include fastTrans(border);
}
a:hover {
	color: $darkest;
}
// a:active {
// 	transform: translateY(1px);
// }
.container {

}
.row {
	&.reverse {
		flex-direction: row-reverse;
	}
}
.max-width {
	width: 90%;
	max-width: 80rem;
	margin: auto;
}
.col {
	&.left {
		.col-content {
			float: right;
		}
	}
	&.right {
		flex: 1;
		margin: 0 -1px 0 1px;
		.col-content {
			float: left;
		} 
	}
	@include sm {
		margin-top: 1rem;
		margin-bottom: 1rem;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
}
.col-inner {
	width: 100%;
	height: 100%;
	position: relative;
}
.col-content {
	width: 100%;
	margin: 2rem 0;
	padding: .25rem 0;
	@include sm {
		padding: 0rem;
	}
}

.toggler {

}
.toggle-label {
	position: relative;
	&::after {
		width: 1rem;
		height: 1rem;
		position: absolute;
		right: .75rem;
		top: calc(50% - .75rem);
		transform: rotate(45deg);
		border: solid $medium;
		border-width: 0 2px 2px 0;
		content: '';
		@include fastTrans(border-color);
	}
	span::before {
		opacity: .5;
	}
	&:hover {
		cursor: pointer;
	}
	.collapse:hover & {
		color: $darkest;
	}
	.expand & {
		color: $blue;
		&::after {
			top: calc(50% - .25rem);
			transform: rotate(-135deg);
		}
	}
	.collapse:hover &, .expand & {
		span::before {
			opacity: 1;
		}
		&::after {
			border-color: $darkest;
		}
	}
}

.content-block {
	padding: .5rem .75rem;
	margin: 0 0 1rem 0;
	background-color: $lightestBlue;
	border-radius: $radius;
	&:empty {
		min-height: 6em;
	}
}
.border-block {
	padding: 1.5rem 1.75rem;
	border-radius: $radius;
	@include border;
	@include smallShadow;
}
.loading-block {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	background: $light;
}

.subscribe-form {
	.fields-group {
		justify-content: unset;
	}
	.form-elem {
		width: auto;
		flex: 1;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	.button {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		border-left: 0;
		background-color: $lightestBlue;
	}
}

@include sm {
	.half-max-width {
		max-width: calc(540px/2);
	}
}
@include md {
	.half-max-width {
		max-width: calc(720px/2);
	}
}
@include lg {
	.half-max-width {
		max-width: calc(960px/2);
	}
}
@include xl {
	.half-max-width {
		max-width: calc(1140px/2);
	}
}