@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=cyrillic,cyrillic-ext,greek,greek-ext,vietnamese);

$blue: #80bdff;
$medium-blue: rgba($blue,.1);
$light-blue: rgba($blue,.05);

// $darkest: #000;
// $dark: #262225;
// $medium: #6f6f6f;

// $medium: #c4c4c4;

// $light: #f6f6f6;
// $lighter: #faf9fe;
// $lightest: #fff;
// $lighten: rgba($lightest,.5);



$darkest: #000;
$dark: #262225;
$darken: rgba($darkest,.5);

$medium: #c4c4c4;
// $light: #f6f6f6;

$lightest: #fff;
$light: #f6f6f6;
$lighten: rgba($lightest,.5);


$radius: 4px;


@mixin fastTrans($prop: all) {
	transition: $prop 200ms ease;
}

@mixin medTrans($prop: all) {
	transition: $prop 400ms ease;
}

@mixin strong {
	font-weight: 700;
}

@mixin border {
	border: {
  	width: 1px;
  	style: solid;
  	color: $blue;
		radius: $radius;
	}
}

@mixin shadow {
	box-shadow: 0 0 1px 1px rgba($darkest,.1);
}

@mixin highlight {
	color: $darkest;
	border-width: 1px;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

@mixin card {
	padding: 1rem;
	background-color: $lightest;
	@include shadow;
	@include border;
}

@mixin focus {
	@include medTrans;
	&:focus {
		@include highlight;
	}
}

@mixin hidden {
	position: absolute;
	left: -999999px;
	&:focus {
		opacity: 0.00001;
	}
}

@mixin underline {
	border-bottom: .2rem solid;
}

@mixin smText {
	font-size: .8rem;
	line-height: 1.4em;
}

@mixin lgText {
	font-size: 1.5rem;
	line-height: 1.7em;
}

@mixin xlText {
	font-size: 2.3rem;
	line-height: 1.2em;
}

@mixin sm {
	@media (max-width: 576px) {
		@content;
	}
}
@mixin md {
	@media (min-width: 768px) {
		@content;
	}
}
@mixin lg {
	@media (min-width: 992px) {
		@content;
	}
}
@mixin xl {
	@media (min-width: 1200px) {
		@content;
	}
}