@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=cyrillic,cyrillic-ext,greek,greek-ext,vietnamese);
@import url(https://fonts.googleapis.com/css?family=Rubik:400,400i,700,700i&display=swap&subset=cyrillic,hebrew,latin-ext);
@import url('https://fonts.googleapis.com/css?family=Cairo:400,700&display=swap&subset=arabic');

$darkest: #181819;
$dark: #7b7883;
$darken: rgba($darkest,.5);

$medium: #c4c4c4;

$lightest: #fff;
$lighter: #f9f9fb;
$light: #f4f4f6;
$lighten: rgba($lightest,.5);

$lightYellow: #fcfcca;

$red: #ff0000;
$lightRed: #ffcccc;
$lightestRed: #ffeeee;

$darkBlue: #3c8add;
$blue: #80bdff;
$mediumBlue: #afd5ff;
$lightBlue: #a6cdfe;
$lightestBlue: #f4f7fe;



$radius: 4px;


@mixin fastTrans($prop: all) {
	transition: $prop 200ms ease;
}

@mixin medTrans($prop: all) {
	transition: $prop 400ms ease;
}

@mixin strong {
	font-weight: 700;
}

@mixin border {
	border: {
  	width: 1px;
  	style: solid;
  	color: $blue;
		radius: $radius;
	}
}

@mixin smallShadow {
	box-shadow: 0 0 1px 1px rgba($darkest,.1);
}

@mixin mediumShadow {
	box-shadow: 0 0 8px 2px rgba($darkest,.1);
}

@mixin highlight {
	color: $darkest;
	border-width: 1px;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

@mixin card {
	padding: 1rem;
	background-color: $lightest;
	@include smallShadow;
	@include border;
}

@mixin focus {
	@include medTrans;
	transition: background 400ms ease,
							opacity 400ms ease,
							color 400ms ease,
							box-shadow 400ms ease;
	&:focus {
		@include highlight;
	}
}

@mixin hidden {
	position: absolute;
	left: -999999px;
	&:focus {
		opacity: 0.00001;
	}
	[dir="rtl"] & {
		left: unset;
		right: -999999px;
	}
}

@mixin underline {
	border-bottom: .2rem solid;
}

@mixin baseText {
	font-size: 16px;
	line-height: 1.6em;
	@include md {
		// font-size: 1px;
	}
}

@mixin xsText {
	font-size: .8rem;
	line-height: 1.4em;
}

@mixin smText {
	font-size: 1rem;
	line-height: 1.6em;
}

@mixin mdText {
	font-size: 1.5rem;
  line-height: 1.3em;
}

@mixin lgText {
	font-size: 2.3rem;
  line-height: 1.2em;
}

@mixin xlText {
	font-size: 3.2rem;
	line-height: 1.2em;
	@include lg {
		font-size: 2.6rem;
	}
}

@mixin sm {
	@media (max-width: 576px) {
		@content;
	}
}
@mixin md {
	@media (max-width: 768px) {
		@content;
	}
}
@mixin lg {
	@media (max-width: 992px) {
		@content;
	}
}
@mixin xl {
	@media (max-width: 1200px) {
		@content;
	}
}