@import "../../sass/vars";

#examples {
	padding-top: 2rem;
	border-top: 1px solid $blue;
	h2 {

	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li {
		margin-bottom: 1rem;
	}
}
#gallery {
	padding-top: 2rem;
	border-top: 1px solid $blue;
	h3 {
		font-weight: bold;
		margin-bottom: 1rem;
	}
	#gallery-embeds {
	}
	.embed-col {
		float: left;
		transition: none;
	}
	.fc-embed {
		opacity: 1;
	}
	.embed-wrap {
		margin-bottom: 3rem;
		padding-top: 2rem;
	}
}